<database xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="config.xsd">
    <db_name>companydb</db_name>
    <username>root</username>
    <password>Siddhu*kothari04</password>
    <tables>
        <table>
            <table_name>department</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>dnumber</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>dnumber</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>dname</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>Shuffle</masking_strategy>
                </column>
                <column>
                    <column_name>dnumber</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>mgr_ssn</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>9</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>mgr_start_date</column_name>
                    <data_type>DATE</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>10</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys />
        </table>
        <table>
            <table_name>dependent</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>dependent_name</primary_key>
                <primary_key>essn</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>essn</unique_column>
                <unique_column>dependent_name</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>essn</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>9</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>dependent_name</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>PartialRedaction</masking_strategy>
                </column>
                <column>
                    <column_name>sex</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>1</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>bdate</column_name>
                    <data_type>DATE</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>10</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>relationship</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>20</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys>
                <foreign_key>
                    <foreign_table>employee</foreign_table>
                    <column_name>essn</column_name>
                    <foreign_column>ssn</foreign_column>
                </foreign_key>
            </foreign_keys>
        </table>
        <table>
            <table_name>dept_locations</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>dlocation</primary_key>
                <primary_key>dnumber</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>dlocation</unique_column>
                <unique_column>dnumber</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>dnumber</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>dlocation</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>20</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys>
                <foreign_key>
                    <foreign_table>department</foreign_table>
                    <column_name>dnumber</column_name>
                    <foreign_column>dnumber</foreign_column>
                </foreign_key>
            </foreign_keys>
        </table>
        <table>
            <table_name>employee</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>ssn</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>ssn</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>fname</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>Shuffle</masking_strategy>
                </column>
                <column>
                    <column_name>minit</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>1</column_size>
                    <default_value />
                    <masking_strategy>Shuffle</masking_strategy>
                </column>
                <column>
                    <column_name>lname</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>Shuffle</masking_strategy>
                </column>
                <column>
                    <column_name>ssn</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>9</column_size>
                    <default_value />
                    <masking_strategy>Encryption</masking_strategy>
                </column>
                <column>
                    <column_name>bdate</column_name>
                    <data_type>DATE</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>10</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>address</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>sex</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>1</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>salary</column_name>
                    <data_type>DECIMAL</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>10</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>super_ssn</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>9</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>dno</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys>
                <foreign_key>
                    <foreign_table>department</foreign_table>
                    <column_name>dno</column_name>
                    <foreign_column>dnumber</foreign_column>
                </foreign_key>
                <foreign_key>
                    <foreign_table>employee</foreign_table>
                    <column_name>super_ssn</column_name>
                    <foreign_column>ssn</foreign_column>
                </foreign_key>
            </foreign_keys>
        </table>
        <table>
            <table_name>project</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>pnumber</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>pnumber</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>pname</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>pnumber</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>plocation</column_name>
                    <data_type>VARCHAR</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>30</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>dnum</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys>
                <foreign_key>
                    <foreign_table>department</foreign_table>
                    <column_name>dnum</column_name>
                    <foreign_column>dnumber</foreign_column>
                </foreign_key>
            </foreign_keys>
        </table>
        <table>
            <table_name>works_on</table_name>
            <to_mask>Yes</to_mask>
            <primary_keys>
                <primary_key>essn</primary_key>
                <primary_key>pno</primary_key>
            </primary_keys>
            <unique_columns>
                <unique_column>pno</unique_column>
                <unique_column>essn</unique_column>
            </unique_columns>
            <columns>
                <column>
                    <column_name>essn</column_name>
                    <data_type>CHAR</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>9</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>pno</column_name>
                    <data_type>SMALLINT</data_type>
                    <nullable>NO</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>5</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
                <column>
                    <column_name>hours</column_name>
                    <data_type>DECIMAL</data_type>
                    <nullable>YES</nullable>
                    <auto_increment>NO</auto_increment>
                    <column_size>4</column_size>
                    <default_value />
                    <masking_strategy>no_masking</masking_strategy>
                </column>
            </columns>
            <foreign_keys>
                <foreign_key>
                    <foreign_table>employee</foreign_table>
                    <column_name>essn</column_name>
                    <foreign_column>ssn</foreign_column>
                </foreign_key>
                <foreign_key>
                    <foreign_table>project</foreign_table>
                    <column_name>pno</column_name>
                    <foreign_column>pnumber</foreign_column>
                </foreign_key>
            </foreign_keys>
        </table>
    </tables>
</database>